body {
  font-family: "Work Sans", sans-serif;
  background-color: antiquewhite;
}

#home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#home-links a {
  margin-left: 20px;
}

#home-links a:first-child {
  margin-left: 0px;
}

body {
  font-family: "Work Sans", sans-serif;
}

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.home-links a {
  margin-left: 20px;
}

.home-links a:first-child {
  margin-left: 0px;
}

.post {
  width: 50vw;
  margin: 40px auto;
}

img {
  width: 100%;
}

pre {
  padding: 5px 10px 15px 5px;
  background: rgb(63, 63, 63);
  color: white;
  border-radius: 3px;
  overflow: scroll;
}

.ln {
  user-select: none;
}

.list-page {
  width: 80vw;
  margin: 40px auto;
}

.list-page h1 {
  color: #b3b3b3;
  margin-bottom: 40px;
}

.list-page-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.list-page-item .title {
  font-size: 18px;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: bold;
}

.list-page-item .subtitle {
  color: #6b6b6b;
  font-size: 12px;
}

#talks .list-page-item {
  margin-bottom: 32px;
}

#talks h1 {
  margin-bottom: 32px;
}

.notfound {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
